@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/librebaskerville-bold.woff2') format('woff2'),
         url('../fonts/librebaskerville-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/librebaskerville-regular.woff2') format('woff2'),
         url('../fonts/librebaskerville-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/firasans-medium.woff2') format('woff2'),
         url('../fonts/firasans-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/firasans-book.woff2') format('woff2'),
         url('../fonts/firasans-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
